<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>ToDo List</title>
  <link rel="icon" href="images/favicon.ico">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap" rel="stylesheet">
</head>

<body>

  <div class="box" id="heading">
    <h1><%=title%></h1>
  </div>

  <div class="box">
    <form action="/delete" method="post">

      <%items.forEach(function(n){%>
      <div class="item">
        <input type="checkbox" value="<%=n._id%>" name="checkbox" onchange="this.form.submit()">
        <p><%= n.item %></p>
      </div>

      <input type="hidden" name="itemTitle" value="<%=title%>">
      <%})%>

    </form>

    <form class="item" action="/" method="post">
      <input type="text" name="newListItem" placeholder="Add item" autocomplete="off" autofocus>
      <button type="submit" name="button" value="<%=title%>" >+</button>
    </form>

  </div>

  <footer>©Tasin Shafi Leon</footer>

</body>

</html>
